$teal: #6B9591;
$darkOrng: #C1796F;

@mixin mQ($arg){
  @media screen and (max-width: $arg){
    @content;
  }
}
body {
  background-color: $teal;
}
.headerMenu {
  display: grid;
  .header {
    position: sticky;
    top: 0;
    width: 100%;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightgray;
    img {
      height: 100px;
    }
    .menuLogo {
      justify-self: start;
    }
    .menuLogo:hover {
      cursor: pointer;
    }
    .logo {
      justify-self: center;
    }
    .logo:hover {
      cursor: pointer;
    }
    .searchOption {
      justify-self: end;
      input {
        background-color: lightgray;
        height: 60px;
        font-size: 20px;
      }
    }
    .search:hover {
      cursor: pointer;
    }
  }
  .menu {
    background-color: $darkOrng;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
    p {
      justify-self: center;
      font-size: 35px;
    }
  }
}

.title {
  display: grid;
  grid-gap: 10px;
  .img {
    justify-self: center;
    width: 100%;
  }
  .slogan {
    font-size: 35px;
    color: white;
    justify-self: center;
  }
}

.slideshow {
  width: 100%;
  img {
    width: 100%;
  }
}
