$teal: #6B9591;
$darkOrng: #C1796F;
$shadow: 2px 2px black;

@mixin mQ($arg...){
  @if length($arg) == 1 {
    @media screen and (max-width: nth($arg, 1)){
      @content;
    }
  }
  @if length($arg) == 2 {
    @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)) {
      @content
    }
  }
}
body {
  background-color: $teal;
}
.all {
  display: grid;
  grid-gap: 10px;
}
.headerMenu {
  display: grid;
  position: sticky;
  top: 0px;
  width: 100%;
  .header {
    width: 100%;
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: lightgray;
    img {
      height: 100px;
    }
    .menuLogo {
      justify-self: start;
    }
    .menuLogo:hover {
      cursor: pointer;
    }
    .logo {
      justify-self: center;
    }
    .logo:hover {
      cursor: pointer;
    }
    .searchOption {
      justify-self: end;
      input {
        display: none;
        background-color: lightgray;
        height: 60px;
        font-size: 20px;
      }
    }
    .search:hover {
      cursor: pointer;
    }
    @include mQ(1000px, 775px) {
      grid-template-columns: 1fr 1fr;
      .menuLogo {
        display: none;
      }
      .logo {
        justify-self: start;
      }
    }
  }
  .menu {
    background-color: $darkOrng;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding: 5px;
    p {
      justify-self: center;
      font-size: 35px;
    }
    @include mQ(775px) {
      p {
        font-size: 20px;
      }
    }
  }
}

.title {
  display: grid;
  margin-bottom: 10px;
  .img {
    justify-self: center;
    width: 100%;
  }
  .slogan {
    font-size: 35px;
    color: white;
    justify-self: center;
    text-align: center;
    text-shadow: $shadow;
  }
}

.slideshow {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  .hide {
    display: none;
  }
  .mySlides {
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
  }
  button {
    background-color: $darkOrng;
    border: 1px solid $teal;
    height: 50px;
    width: 50px;
  }
  .button-left {
    grid-column: 1;
    grid-row: 2;
    align-self: center;
    font-size: 25px;
  }
  .button-right {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
    align-self: center;
    font-size: 25px;
  }
  img {
    width: 100%;
    height: auto;
    justify-self: center;
  }
}

.hours {
  display: grid;
  margin-left: 10px;
  color: white;
  text-shadow: 2px 2px black;
}
